# dependencies
/node_modules

# next.js
/.next
/out
/.vercel
/.turbo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
coverage
dist

# typescript
*.tsbuildinfo
